<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include href="views/css.html"></include>
    <title>Admin</title>
</head>
<body>

<div class="container">
    <nav class="navbar bg-light navbar-light">
        <!--<h2>Inventory Management</h2>-->
        <img id="logo" src="images/TimelessLogo.png" width="400" height="125" title="Company Logo"/>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/reports"><h4>Home</h4></a>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/editReports"><h4>To Do</h4></a>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/" id="logout">Logout</a>
    </nav>
</div>
</body>
</html>