<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include href="views/css.html"></include>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"></script>
    <link id="bootstrap-css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-css2" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link id="bootstrap-css3" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js" type="text/javascript" charset="utf8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript" charset="utf8"></script>
    <title>Admin</title>
</head>
<body>
<nav class="navbar bg-light navbar-light">
    <!--<h2>Inventory Management</h2>-->
    <img id="logo" src="images/TimelessLogo.png" width="400" height="125" title="Company Logo"/>
    <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/reports"><h4>Home</h4></a>
    <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/editReports"><h4>To Do</h4></a>
    <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/" id="logout">Logout</a>
</nav>

<div class="container">

    <div class="container fluid">
        <div class="row">
            <div class="col text-center">
                <!--  Upload File Form  -->
                <form action="#" method="post" enctype="multipart/form-data">
                    <input class="button" type="file" name="file" id="myFile">
                    <input class="button" type="submit" name="submit" value="Upload" id="submit">
                </form>
            </div>
        </div>
    </div>

    <h3>Inventory</h3>
    <table id="datatable2" class="table table-striped table-bordered display">
        <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{@data}}" value="{{@row}}">
            <tr>
                <td>{{@row['title']}}</td>
                <td>{{@row['quantity']}}</td>
            </tr>
        </repeat>
        </tbody>
    </table>

    <h3>Cost Info Update</h3>
    <table id="datatable" class="table table-striped table-bordered display">
        <thead>
        <tr>
            <th>Title</th>
            <th>Current Cost</th>
            <th>Edit Cost?</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{@costData}}" value="{{@row}}">
            <tr>
                <td>{{@row['title']}}</td>
                <td>{{@row['cost']}}</td>
                <td><input type="text" placeholder="$$.$$" id="input{{@row['id']}}"><button id="{{@row['id']}}">Update</button></td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>

<script>
    <repeat group="{{@costData}}" value="{{@row}}">
        $("#{{@row['id']}}").click(function()
        {
            var cost = $("#input{{@row['id']}}").val();
            if (!isNaN(cost) || cost.toString().indexOf('.') != -1) {
                var title = "{{@row['title']}}";
                var cosignor = "{{@row['cosignor']}}";
                var update = confirm("Are you sure you wish to update this cost?");
                if (update) {
                    $.post('{{@BASE}}/model/update.php', {
                        title: title,
                        cost: cost,
                        cosignor: cosignor
                    }, function (data) {

                    });
                    location.reload(true);
                }
            }
            else
            {
                alert("Cost needs to be a number");
            }
        });

    </repeat>
</script>
</body>
</html>