<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./styles/reports.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Reports Page</title>
</head>
<body>
    <nav class = "navbar bg-light navbar-light">
        <h2>Inventory Management</h2>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/" id="logout">Logout</a>
    </nav>

    <div class="container" id="maindiv">
        <div class="row" id="col1">
            <form method="post" action="#" enctype="multipart/form-data">
                <input class="btn" type="file" name="file" id="myFile">
                <input class="btn btn-default" type="submit" name="submit" value="Upload" id="submit">
            </form>
        </div>
        <div class="row" id="col2">
            <select name="report" id="report">
                <repeat group="{{@reports}}" value="{{@report}}">
                    <option>{{@report['name']}}</option>
                </repeat>
            </select>
            <button class="btn btn-default" name="show" id="show">Show</button><br>

            <table class="table">
                <tr>
                    <th>Item Number</th>
                    <th>Title</th>
                    <th>End Date</th>
                    <th>Winning </th>
                    <th>Winning Bid</th>
                    <th>Pristine Share</th>
                    <th>Consignor</th>
                    <th>Profit Margin</th>
                </tr>
                <tr>
                    <td>6463</td>
                    <td>Test</td>
                    <td>10/20</td>
                    <td>$90</td>
                    <td>$100</td>
                    <td>$10</td>
                    <td>$30</td>
                    <td>$30</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>