<head>
    <title>Reports Page</title>
    <include href="views/css.html"></include>
</head>

    <body>
    <div id="chart_div_time" style='width: 1400px; height: 700px;'></div>

    <!-- this include prints out the contents of css.html -->
    <nav class="navbar bg-light navbar-light">
        <!--<h2>Inventory Management</h2>-->
        <img id="logo" src="images/TimelessLogo.png" width="400" height="125" title="Company Logo"/>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/editReports"><h4>To Do</h4></a>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/edit"><h4>Admin</h4></a>
        <a class="nav-item nav-link" href="/inventory_management/ExcelMasters/" id="logout">Logout</a>
    </nav>

    <!-- MAIN CONTAINER  -->
    <div class="container-fluid" id="maindiv"><!-- TODO change to "container-fluid"  -->


        <div class="row">
            <div class="col text-center">
                <!--  Upload File Form  -->
                <form action="#" method="post" enctype="multipart/form-data">
                    <input class="btn btn-default" type="file" name="file" id="myFile">
                    <input class="button" type="submit" name="submit" value="Upload" id="submit">
                </form>

                <!--  Search  -->
                <form action="#" method="post">
                    <label for="title">Title
                        <div><!--  this div puts label above the input  -->
                            <input type="text" value="{{@title}}" name="title" id="title">
                        </div>
                    </label>
                    <!--Datepicker-->
                    <label for="startDate">Start Date
                        <div>
                            <input type="date" value="{{@startDate}}" name="startDate" id="startDate">
                        </div>
                    </label>
                    <label for="endDate">End Date
                        <div>
                            <input type="date" value="{{@endDate}}" name="endDate" id="endDate">
                        </div>
                    </label>
                    <button type="submit" name="datesearch" id="dateButton">Search</button>
                </form>
                <hr>
            </div>
        </div>


        <!--  Report Summary  -->
        <div class="row justify-content-md-center">
            <div class="col-6">
                <!--  Table Summary  -->
                <table id="table" class="table table-hover">
                    <br>

                    <!--  Report Summary  -->
                    <div class="col text-center">
                        <h4>Total Items: {{@totalItems}} /  Items without cost data: {{@totalNoCost}}</h4>
                    </div>

                    <br>
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-right">Winning Bid</th>
                        <th class="text-right">Consignor Cut</th>
                        <th class="text-right">Item Cost</th>
                        <th class="text-right">Profit Margin</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- average  -->
                    <tr>
                        <td>Average</td>
                        <td class="text-right">{{ @avgWin }}</td>
                        <td class="text-right">{{ @avgCons }}</td>
                        <td class="text-right">{{ @avgCost }}</td>
                        <td class="text-right">{{ @avgMargin }}</td>
                    </tr>
                    <!-- total  -->
                    <tr>
                        <td>Total</td>
                        <td class="text-right">{{ @totalWin }}</td>
                        <td class="text-right">{{ @totalCons }}</td>
                        <td class="text-right">{{ @totalCost }}</td>
                        <td class="text-right">{{ @totalMargin }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="col text-right">
                <form action="editReports" method="post">
                    <!--Edit Reports / Button-->
                    <input id="button" type="submit" name="submit" value="Edit Reports">
                </form>
                </div>
            </div>
        </div>

        <style>
            .hidden{
                display:none;
            }

            .unhidden{
                display:block;
            }
        </style>
        <script type="text/javascript">
            function unhide(clickedButton, formId) {
                var item = document.getElementById(formId);
                if (item) {
                    if(item.className=='hidden'){
                        item.className = 'unhidden' ;
                        clickedButton.value = 'Hide Graph'
                    }else{
                        item.className = 'hidden';
                        clickedButton.value = 'Show Graph'
                    }
                }}

        </script>


        <input type="button" onclick="unhide(this, 'Chart') " value="Hide Graph">
        <!--  Chart  -->
        <div id="Chart"  class="row" >
            <div class="col-12">
                <hr>
                <div id="chart_div" style="min-height: 450px;"></div>
            </div>
        </div><!--  end Table Summary  -->
        <!-- end Report Summary -->

        <!--  Data table  -->
        <div class="row">
            <div class="col">
                <hr>
            <table id="datatable" class="table barChart compact table-bordered display">
                <thead>
                <tr>
                    <th data-type="string">Item Number</th>
                    <th data-type="string">Title</th>
                    <th data-type="date">End Date</th>
                    <th data-type="number">Winning Bid</th>
                    <th data-type="number">Pristine Share</th>
                    <th data-type="number">Consignor</th>
                    <th data-type="number">Cost</th>
                    <th data-type="number">Profit Margin</th>
                    <th data-type="number">Percent Margin</th>
                </tr>

                </thead>
                <tbody>
                <repeat group="{{@data}}" value="{{@row}}">
                    <tr>
                        <td>{{@row['item_num']}}</td>
                        <td>{{@row['title']}}</td>
                        <td class="text-nowrap">{{@row['end_date']}}</td>
                        <td>{{@row['win']}}</td>
                        <td>{{@row['pristine']}}</td>
                        <td>{{@row['cosignor']}}</td>
                        <td>{{@row['cost']}}</td>
                        <td>{{@row['profit']}}</td>
                        <td>{{@row['percent_margin']}}</td>
                    </tr>
                </repeat>

                </tbody>
            </table>
            </div>
        </div>
    </div><!-- end MAIN CONTAINER  ->



    <!--  JAVASCRIPT  -->
    <!--  jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"
            charset="utf8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript"
            charset="utf8"></script>
    <!--  Bootstrap  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--  Google  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--  Other  -->
    <script src="js/reports.js"></script>
    <script src="js/chartinator.js"></script>

    <!--  Draw Charts  -->
    <!--  Column Chart -->
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        // create Column Chartt
        function drawChart() {
            // send to data table
            //repeat statement causes errors in phpStorm but is correct as is
            var data = google.visualization.arrayToDataTable([
                ['Title', 'Win']
                <repeat group="{{@data}}" value="{{@row}}">
                    ,['{{ @row["title"] }}', {{ @row['win'] }}]
                </repeat>
            ]);
            // customize chart
            var options = {  //TODO change chart style
                title: 'Summary',
                is3D: true
            };
            // draw chart at id
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <!--  Timeline Chart -->
    <script type='text/javascript'>
        google.charts.load('current', {packages:['annotatedtimeline']});
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart2() {
            var data = new google.visualization.arrayToDataTable([
                    ['Date', 'Average Profit']
                    <repeat group="{{@timeline}}" key="{{@key}}"value="{{@date}}">
                        <repeat group="{{@date}}" value="{{@cols}}">
                            ,[new Date({{@key}}), {{@cols[0]}}]
                        </repeat>
                    </repeat>
            ]);

            // customize chart
            var options = {  //TODO change chart style
                displayAnnotations: true,
                title: 'Timeline',
                fill: 50,
                thickness: 3
            };
            //draw chart
            var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div_time'));
            chart.draw(data, options);
        }
    </script>

<br><br><br><br><hr>
    </body>
    </html>
